
*{
    transition : all ease-in-out 1s;
    margin : 0;
    padding : 0;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  height : 100%;
}

*::-webkit-scrollbar {
  width: 11px;               /* width of the entire scrollbar */
}
*::-webkit-scrollbar-track {
  background: #ccc;        /* color of the tracking area */
}
*::-webkit-scrollbar-thumb {
  background-color: #6c5c5c;    /* color of the scroll thumb */     /* roundness of the scroll thumb */
}
.input-validation-error {
    background-color: antiquewhite;
    border: 3px solid red;
}

.wboard {
    background-color: #B6EADA;
    color: #301E67;
    border-radius: 15px;
    
}

