@{
    ViewData["Title"] = "DashBoard";

}
@model Employee

<partial name="_dashDepend" />
<div class="flex-fill px-3 py-3 mx-3 my-3 wboard">
    <h2 class="text-center" style="color : #301E67">Welcome, @Model.FirstName</h2>
    
        @{
            CardSectionModel cardSection = new CardSectionModel();
        }
        <partial name = "_CardSection" model = "cardSection" />
        
</div>
