@{
    ViewData["Title"] = "Acquire Employee";
}

@model AccquireEmp
<div class="container-fluid">
    <h3 class="text-center m-5">Employees</h3>

    @{
        foreach (Employee emp in Model.emp)
        {
            <partial name="_ShowEmployee" model="@emp" />
        }

    }

    <div class="container-fluid w-50 flex-grow-1">
        <h1 class="text-center text-info m-2">Acquire Emp</h1>
        @{
            if (ViewData["Done"] != null)
            {
                <h3 class="text-center text-capitalize text-info">Task Added Successfully</h3>
            }
        }

        <form method="post" asp-controller="ProjectManager" asp-action="AccquireEmp">
            <div asp-validation-summary="All">
            </div>
            <div class="mb-3">
                <label asp-for="TeamId" class="form-label">TeamId</label>
                <input asp-for="TeamId" class="form-control" required>
            </div>
            <div class="mb-3">
                <label asp-for="empid" class="form-label">Employee ID</label>
                <input asp-for="empid" class="form-control" required>
            </div>
            <div class=" = text-center w-100 mt-2">
                <button type="submit" class="btn btn-primary w-75">Add</button>
            </div>
        </form>
    </div>
</div>