@{
    ViewData["Title"] = "Home";
}

@model Credentials

<div class="container-fluid">

    <h1 class="text-primary text-center">Welcome</h1>
    <p>Dear User, We are still Under Development. Our team is working hard to provide you the fast realiable service as soon as possible</p>
    <h3 class="text-center">Thing we are working on.</h3>
    <ul class="list-group mt-5">
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
            <label class="form-check-label" for="firstCheckbox">First checkbox</label>
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
            <label class="form-check-label" for="secondCheckbox">Second checkbox</label>
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
            <label class="form-check-label" for="thirdCheckbox">Third checkbox</label>
        </li>
    </ul>
    <div class="text-center w-100 mt-5"> <a type="submit" class="btn btn-primary w-75" asp-controller = "Login" asp-action="Index">Login</a> </div>
   
</div>