@{
    ViewData["Title"] = "DashBoard";

}
@model DashBoard //Model should be of Dashboard type => Employee emp, List<CardSectionModel> Controls

<partial name="_dashDepend" />

<div class="flex-fill px-3 py-3 mx-3 my-3 wboard">
    <h2 class="text-center" style="color : #301E67">Welcome, @Model.employee!.FirstName</h2>    

        @{
        for (int idx = 0; idx < @Model.controls.Count; idx++)
        {
            <partial name="_CardSection" model="@Model.controls[idx]" />
        }
        }
</div>

<div class="text-center w-100 mt-5"> <a type="submit" class="btn btn-primary w-75" asp-controller="Login" asp-action="Logout">Logout</a> </div>
