@{
    ViewData["Title"] = "Login";
}

@model Credentials

<div class="container-fluid w-50">
    @{
        bool state = (bool) (ViewData["State"] ??= false);

        if(state)
        {
            <h1>Good Work</h1>
        }
        else
        {
            <h1>Get Lost</h1>
        }
    }
    <h1 class="text-capitalize text-center">Login</h1>
    <form method="post" asp-controller="Login" asp-action="Login">
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email address</label>
            <input asp-for="Email" class="form-control" >
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" class="form-control">
        </div>
        <div class=" = text-center w-100 mt-2">
        <button type="submit" class="btn btn-primary w-75">Login</button></div>
    </form>
</div>