@model CardSectionModel

<section id="@Model.SectionId">
    <div class="row">
        <div class="col-12 mt-3 mb-1">
            <h4 class="text-uppercase">@Model.Head</h4>
            <p>@Model.Tag</p>
        </div>
    </div>
    @{
        for(int idx = 0; idx < Model.Rows; idx++)
        {
            <div class = "row">
            <partial name = "_CardRow" model = "Model.Data![idx]"/>
            </div>
        }
    }
    </section>