@model List<CardModelLeft>

@{
    Dictionary<String, String> dict = new Dictionary<string, string>();
    dict.Add("Left", "_CardLeft");
    dict.Add("Right", "_CardRight");
    dict.Add("Progress", "_ProgressCard");
    dict.Add("Large", "_LargeCard");
    foreach(var card in @Model)
    {
        string? view = dict.GetValueOrDefault(card.Types);
        <div class="col-xl-3 col-sm-6 col-12">
            <partial name ="@view" model = "@card"/>
        </div>
    }
}
